/* common */
.event-detail-new .con1 {
    --event-padding: 62px;
    background-color: #0d133d;
}
.event-detail-new .con1 img {
    display: block;
    max-width: 100%;
    height: 100%;
}
.event-detail-new .con1 .cta-wrap {
    display: flex;
    justify-content: center;
}
.event-detail-new .con1 .cta-wrap a {
    display: inline-block;
    width: 304px;
    min-height: 72px;
    text-align: center;
    padding: 10px 20px;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.025em;
    border-radius: 100px;
}
.event-detail-new .con1 .link-01 {
    background-color: #00d2b4;
    border: 2px solid #1428a0;
    box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.3);
}
.event-detail-new .con1 .link-02 {
    background-color: #1428a0;
    border: 2px solid #00d2b4;
    color: #00d2b4;
    box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.2);
}
.event-detail-new .top-line {
    position: relative;
    padding: 0px var(--event-padding);
}
.event-detail-new .top-line::before {
    content: "";
    top: 0;
    position: absolute;
    left: 50%;
    width: calc(100% - (var(--event-padding) * 2));
    height: 2px;
    background-color: #7e81c8;
    transform: translateX(-50%);
    opacity: 0.4;
}
.event-detail-new .top-line::after {
    content: "";
    top: 0;
    position: absolute;
    left: 50%;
    width: 211px;
    height: 2px;
    background-color: #00d2b4;
    transform: translateX(-50%);
}
.event-detail-new .con1 .bg-inner {
    position: relative;
    padding-top: 65px;
    background-color: #0d133d;
}
.event-detail-new .con1 .bg-inner > .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.event-detail-new .con1 .sc-tit {
    padding-top: 20px;
    font-size: 38px;
    font-weight: 700;
    line-height: 1.3;
    color: #f3f3f3;
    text-align: center;
}
.event-detail-new .con1 .c-cello {
    color: #00d2b4;
}
.event-detail-new .con1 .keyword {
    display: block;
    padding-top: 10px;
    font-size: 22px;
    font-weight: 600;
    color: #00d2b4;
    text-align: center;
}

/* sc-head */
.con1 .sc-head {
    position: relative;
    padding: 53px var(--event-padding) 20px;
}
.con1 .sc-head .bg-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.con1 .sc-head .cont-wrap {
    position: relative;
}
.con1 .sc-head .i-logo {
    width: 220px;
}
.con1 .sc-head .keyword-wrap {
    margin-top: 38px;
}
.con1 .sc-head .keyword-wrap ul {
    display: flex;
    max-width: 530px;
    margin: 0 auto;
    border-top: 1px solid rgba(196, 158, 90, 0.8);
    border-bottom: 1px solid rgba(196, 158, 90, 0.8);
}
.con1 .sc-head .keyword-wrap ul li {
    position: relative;
    color: #c59e5a;
    width: 33%;
    text-align: center;
    padding: 10px;
    min-height: 56px;
    font-size: 18px;
    font-weight: 600;

    background: linear-gradient(135deg, #c59e5a 20%, #ffedcd 50%, #c59e5a 70%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.con1 .sc-head .keyword-wrap ul li + li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: calc(100% - 10px);
    width: 1px;
    background-color: #c59e5a;
    transform: translateY(-50%);
    opacity: 0.6;
}
.con1 .sc-head .tit-wrap {
    position: relative;
}
.con1 .sc-head .tit-wrap .i-tit {
    margin-top: 15px;
}
.con1 .sc-head .tit-wrap .word-01 {
    position: absolute;
    top: 32%;
    left: 13%;
    background: linear-gradient(135deg, #919191, #fff, #919191);
    padding: 3px 6px 13px;
    border-radius: 13px;
    font-size: min(3.6vw, 33px);
    font-weight: 700;
    letter-spacing: -0.3em;
    line-height: 1;
    writing-mode: vertical-rl;
}
.con1 .sc-head .tit-wrap .word-02 {
    position: absolute;
    bottom: 3%;
    right: 21%;
    display: inline;
    background: linear-gradient(135deg, #b3b3b3, #fff, #b3b3b3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

    font-size: min(6.3vw, 58px);
    font-weight: 700;
    line-height: 1;
}
.con1 .sc-head .desc-wrap {
    margin-top: 54px;
    padding: 0px 50px;
}
.con1 .sc-head .desc-wrap strong {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #0d133d;
    padding: 0 20px;
    background: #b3b4dd; /* 단색 */
    -webkit-mask-image: linear-gradient(90deg, transparent, #000 20%, #000 80%, transparent);
    mask-image: linear-gradient(90deg, transparent, #000 20%, #000 80%, transparent);
    text-align: center;
}
.con1 .sc-head .desc-wrap p {
    margin-top: 14px;
    font-size: 22px;
    line-height: 32px;
    color: #fff;
    text-align: center;
}
.con1 .sc-head .cta-wrap {
    margin-top: 45px;
    justify-content: space-between;
    gap: 10px;
    padding: 0 62px;
}
.con1 .sc-head .i-footer {
    margin-top: 35px;
}
.con1 .sc-head .caption {
    font-size: 20px;
    letter-spacing: -0.025em;
    color: #a2a2a2;
}
/* sc-cello */
.con1 .sc-cello {
    padding-bottom: 70px;
}
.con1 .sc-cello .cello-wrap {
    margin-top: 56px;
}
.con1 .sc-cello .cello-wrap ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.con1 .sc-cello .cello-wrap li {
    position: relative;
    padding: 20px 15px;
    border-radius: 20px;
    border: 2px solid #00d2b35e;
    background-color: #262b51;
}
.con1 .sc-cello .cello-wrap li::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;
    box-shadow: inset 0 0 15px #000000, inset 0 0 15px #000000;
}
.con1 .sc-cello .cello-wrap li h3,
.con1 .sc-cello .cello-wrap li strong {
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}
.con1 .sc-cello .cello-wrap li img {
    margin: 17px auto;
    height: auto;
}
.con1 .sc-cello .cello-wrap li p {
    margin-top: 3px;
    font-size: 16px;
    line-height: 1.4;
    color: #fff;
    opacity: 0.9;
    text-align: center;
}
.con1 .sc-cello .cta-wrap {
    margin-top: 68px;
}
/* sc-review */
.con1 .sc-review {
    padding-bottom: 83px;
}
.con1 .sc-review .review-wrap {
    margin-top: 75px;
    padding: 0px 36px;
}
.con1 .sc-review .review-wrap li {
    position: relative;
    border-radius: 50px;
    padding: 33px 54px;
    display: flex;
    gap: 28px;
    background: #81859a;
}

.con1 .sc-review .review-wrap li::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;
    /* 가장자리만 밝게 */
    box-shadow: inset 0 0 25px 17px #c6c7d0, inset 0 0 50px #c6c7d0;
}
.con1 .sc-review .review-wrap li::before {
    z-index: 0;
    content: "";
    position: absolute;
    display: block;
    width: 66px;
    height: 23px;
    top: 2px;
    left: 96px;
    transform: translateY(-100%);
    background: url(./assets/000.jpg) no-repeat center center / contain;
}
.con1 .sc-review .review-wrap li:nth-child(even) {
    flex-direction: row-reverse;
}
.con1 .sc-review .review-wrap li:nth-child(even)::before {
    transform: translateY(-100%) scaleX(-1);
    left: auto;
    right: 96px;
}
.con1 .sc-review .review-wrap li + li {
    margin-top: 46px;
}
.con1 .sc-review .review-wrap li img {
    flex-shrink: 0;
}
.con1 .sc-review .review-wrap li .comment {
    flex: 1;
}
.con1 .sc-review .review-wrap li strong {
    font-size: 26px;
    font-weight: 700;
}
.con1 .sc-review .review-wrap li p {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}
.con1 .sc-review .review-wrap li .b-cello {
    background: #00d2b4;
}
/* logo-container */
.con1 .logo-container {
    background-color: #e5e5e5;
    padding-bottom: 40px;
}
.con1 .logo-container .logo-wrap {
    position: relative;
    display: flex;
    padding: 70px 0;
    overflow: hidden;
}
.con1 .logo-container .logo-wrap::before,
.con1 .logo-container .logo-wrap::after {
    content: "";
    position: absolute;
    top: 70px;
    width: 100px;
    height: 324px;
    background: url(./assets/mask.png) no-repeat center center / cover;
    z-index: 1;
}
.con1 .logo-container .logo-wrap::before {
    left: 0;
}
.con1 .logo-container .logo-wrap::after {
    right: 0;
    transform: scaleX(-1);
}
.con1 .logo-container .logo-wrap img {
    max-width: none;
    height: 324px;
    animation: logo-wrap-animation 45s linear infinite;
}
@keyframes logo-wrap-animation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.con1 .logo-container .cta-wrap {
    padding: 0 130px;
    gap: 10px;
    justify-content: space-between;
}
/* sc-why */
.con1 .sc-why {
    padding-bottom: 60px;
}
.con1 .sc-why .sc-tit {
    font-size: 28px;
    line-height: 1.4;
    position: relative;
    color: #d8d8d8;
}
.con1 .sc-why .i-center {
    margin-left: calc(var(--event-padding) * -1);
    margin-top: -35px;
    width: calc(100% + (var(--event-padding) * 2));
    max-width: none;
}
.con1 .sc-why .desc {
    font-size: 20px;
    color: #d8d8d8;
    text-align: center;
    margin-top: -55px;
    padding-bottom: 23px;
}
/* sc-coupon */
.con1 .sc-coupon {
    padding-bottom: 45px;
}
.con1 .sc-coupon .sc-tit {
    color: #d8d8d8;
}
.con1 .sc-coupon .coupon-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: min(100%, 470px);
    aspect-ratio: 470 / 262;
    margin: 30px auto 0;
}
.con1 .sc-coupon .coupon-wrap img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.con1 .sc-coupon .coupon-wrap p {
    font-size: 48px;
    line-height: 1;
    font-weight: 700;

    background: linear-gradient(120deg, #00d2b4 30%, #fff 60%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.con1 .sc-coupon .desc-wrap {
    margin-top: 45px;
}
.con1 .sc-coupon .desc-wrap p {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    color: #d8d8d8;
    text-align: center;
}
.con1 .sc-coupon .desc-wrap p + p {
    margin-top: 40px;
}
.con1 .sc-coupon .desc-wrap .point {
    font-size: 28px;
    color: inherit;
}
/* sc-benefits */
.con1 .sc-benefits {
    padding-bottom: 60px;
}
.con1 .sc-benefits time {
    display: block;
    margin-top: 40px;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    color: #fff;
}
.con1 .sc-benefits .benefits-wrap {
    margin-top: 40px;
}
.con1 .sc-benefits .benefits-wrap ul {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}
.con1 .sc-benefits .benefits-wrap li {
    flex: 1;
    min-width: 350px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #fff;
    padding: 30px 10px;
    border-radius: 10px;
}
.con1 .sc-benefits .benefits-wrap li img {
    height: auto;
}
.con1 .sc-benefits .benefits-wrap li strong {
    display: block;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    font-weight: 700;
}
.con1 .sc-benefits .benefits-wrap li .point {
    font-size: 30px;
}
.con1 .sc-benefits .benefits-wrap li small {
    display: block;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #696969;
}
.con1 .sc-benefits .cta-wrap {
    margin-top: 55px;
}
.con1 .sc-benefits .cta-wrap .link-01 {
    font-size: 36px;
    width: 500px;
}
.con1 .sc-benefits .caption {
    margin-top: 47px;
    display: block;
    font-size: 20px;
    color: #a2a2a2;
}
/* sc-footer */
.con1 .sc-footer {
    padding: 35px var(--event-padding);
    background-color: #171717;
}
.con1 .sc-footer h2 {
    font-size: 19px;
    line-height: 1.4;
    color: #a2a2a2;
}
.con1 .sc-footer li {
    font-size: 16px;
    line-height: 1.4;
    color: #a2a2a2;
    letter-spacing: -0.03em;
}
@media screen and (max-width: 767px) {
    /* common */
    .event-detail-new .con1 {
        --event-padding: 20px;
    }
    .event-detail-new .con1 .cta-wrap a {
        width: 118px;
        min-height: 28px;
        font-size: 10px;
        padding: 5px 20px;
    }
    .event-detail-new .con1 .link-01,
    .event-detail-new .con1 .link-02 {
        border-width: 1px;
    }
    .event-detail-new .top-line::after {
        width: 74px;
    }
    .event-detail-new .con1 .bg-inner {
        padding-top: 20px;
    }
    .event-detail-new .con1 .sc-tit {
        padding-top: 16px;
        font-size: 16px;
    }
    .event-detail-new .con1 .keyword {
        padding-top: 7px;
        font-size: 10px;
    }

    /* sc-head */
    .con1 .sc-head {
        padding-top: 36px;
        padding-bottom: 10px;
    }
    .con1 .sc-head .bg-wrap img {
        width: 100%;
    }
    .con1 .sc-head .i-logo {
        width: 92px;
    }
    .con1 .sc-head .keyword-wrap {
        margin-top: 34px;
    }
    .con1 .sc-head .keyword-wrap ul {
        max-width: 325px;
        display: grid;
        grid-template-columns: 0.7fr 1.3fr 1fr;
    }
    .con1 .sc-head .keyword-wrap ul li {
        width: auto;
        font-size: 10px;
        padding: 6px;
        min-height: 24px;
        text-align: center;
    }
    .con1 .sc-head .keyword-wrap ul li + li::before {
        height: calc(100% - 5px);
    }
    .con1 .sc-head .tit-wrap {
        max-width: 500px;
        margin: 0 auto;
    }
    .con1 .sc-head .tit-wrap .i-tit {
        width: 100%;
    }
    .con1 .sc-head .tit-wrap .word-01 {
        font-size: min(3.8vw, 20px);
        border-radius: 4px;
        top: 32%;
        left: 11%;
        padding: 1px 3px 6px;
    }
    .con1 .sc-head .tit-wrap .word-02 {
        font-size: min(6.9vw, 35px);
        bottom: 1%;
        right: 18%;
    }
    .con1 .sc-head .desc-wrap {
        margin-top: 30px;
        padding: 0;
    }
    .con1 .sc-head .desc-wrap strong {
        max-width: 325px;
        margin: 0 auto;
        font-size: 14px;
        padding: 0;

        -webkit-mask-image: linear-gradient(90deg, transparent, #000 10%, #000 90%, transparent);
        mask-image: linear-gradient(90deg, transparent, #000 10%, #000 90%, transparent);
    }
    .con1 .sc-head .desc-wrap p {
        margin-top: 8px;
        font-size: 11px;
        line-height: 15px;
    }
    .con1 .sc-head .cta-wrap {
        max-width: 272px;
        margin: 13px auto 0;
        padding: 0 10px;
    }
    .con1 .sc-head .i-footer {
        width: 100%;
        max-width: 500px;
        margin: 15px auto 0;
    }
    .con1 .sc-head .caption {
        font-size: 8px;
    }
    /* sc-cello */
    .con1 .sc-cello {
        padding-bottom: 30px;
    }
    .con1 .sc-cello .cello-wrap {
        margin-top: 13px;
    }
    .con1 .sc-cello .cello-wrap ul {
        flex-direction: column;
        gap: 10px;
    }
    .con1 .sc-cello .cello-wrap li {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 13px 10px;
        border-radius: 10px;
    }
    .con1 .sc-cello .cello-wrap li h3 {
        position: absolute;
        top: -1px;
        left: 10px;
        font-size: 9px;
        border-radius: 0px 0px 8px 8px;
        background-image: linear-gradient(120deg, #00d2b4 30%, #c59e5a 60%);
        padding: 3px 9px;
        z-index: 1;
    }
    .con1 .sc-cello .cello-wrap li strong {
        font-size: 13px;
        text-align: left;
    }
    .con1 .sc-cello .cello-wrap li img {
        width: 90px;
        margin: 13px 0 0;
        /* margin: 13px auto 0; */
    }
    .con1 .sc-cello .cello-wrap li p {
        margin-top: 0;
        font-size: 9px;
        text-align: left;
    }
    .con1 .sc-cello .cta-wrap {
        margin-top: 20px;
    }
    /* sc-review */
    .con1 .sc-review {
        padding-bottom: 38px;
    }
    .con1 .sc-review .review-wrap {
        margin-top: 20px;
        padding: 0;
    }
    .con1 .sc-review .review-wrap li {
        align-items: center;
        padding: 10px 20px;
        gap: 10px;
        border-radius: 20px;
    }
    .con1 .sc-review .review-wrap li + li {
        margin-top: 17px;
    }
    .con1 .sc-review .review-wrap li::before {
        top: 1px;
        left: 36px;
        width: 27px;
        height: 9px;
    }
    .con1 .sc-review .review-wrap li::after {
        box-shadow: inset 0 0 9px 5px #f9f9fa, inset 0 0 50px #f9f9fa;
    }
    .con1 .sc-review .review-wrap li:nth-child(even)::before {
        right: 36px;
    }
    .con1 .sc-review .review-wrap li img {
        width: 60px;
    }
    .con1 .sc-review .review-wrap li .comment {
        position: relative;
        z-index: 1;
    }

    .con1 .sc-review .review-wrap li strong {
        font-size: 13px;
    }
    .con1 .sc-review .review-wrap li p {
        margin-top: -4px;
        font-size: 9px;
        line-height: 1.4;
    }
    /* logo-container */
    .con1 .logo-container {
        padding-bottom: 37px;
    }
    .con1 .logo-container .logo-wrap {
        padding: 37px 0;
    }
    .con1 .logo-container .logo-wrap::before,
    .con1 .logo-container .logo-wrap::after {
        width: 60px;
        height: 216px;
    }
    .con1 .logo-container .logo-wrap img {
        height: 216px;
    }
    .con1 .logo-container .cta-wrap {
        max-width: 330px;
        margin: 0 auto;
        padding: 0 30px;
    }
    /* sc-why */
    .con1 .sc-why {
        margin-top: 22px;
        padding-bottom: 40px;
    }
    .con1 .sc-why .sc-tit {
        font-size: 16px;
    }
    .con1 .sc-why .i-center {
        margin-top: -25px;
    }
    .con1 .sc-why .desc {
        font-size: 10px;
        margin-top: -10px;
        padding-bottom: 15px;
    } /* sc-coupon */
    .con1 .sc-coupon {
        padding-bottom: 23px;
    }
    .con1 .sc-coupon .coupon-wrap {
        width: 170px;
        margin-top: 13px;
    }
    .con1 .sc-coupon .coupon-wrap p {
        font-size: 16px;
    }
    .con1 .sc-coupon .desc-wrap {
        margin-top: 15px;
    }
    .con1 .sc-coupon .desc-wrap p,
    .con1 .sc-coupon .desc-wrap .point {
        font-size: 12px;
    }
    .con1 .sc-coupon .desc-wrap p + p {
        margin-top: 10px;
    }
    /* sc-benefits */
    .con1 .sc-benefits {
        padding-bottom: 20px;
    }
    .con1 .sc-benefits time {
        display: none;
    }
    .con1 .sc-benefits .benefits-wrap {
        margin-top: 15px;
    }
    .con1 .sc-benefits .benefits-wrap ul {
        flex-direction: column;
        gap: 15px;
        padding: 0 35px;
        max-width: 500px;
        margin: 0 auto;
    }
    .con1 .sc-benefits .benefits-wrap li {
        min-width: auto;
        padding: 18px 5px;
    }
    .con1 .sc-benefits .benefits-wrap li img {
        width: 70px;
    }
    .con1 .sc-benefits .benefits-wrap li strong {
        font-size: 10px;
    }
    .con1 .sc-benefits .benefits-wrap li .point {
        font-size: 15px;
        font-weight: 700;
    }
    .con1 .sc-benefits .benefits-wrap li small {
        font-size: 9px;
    }
    .con1 .sc-benefits .cta-wrap {
        margin-top: 23px;
    }
    .con1 .sc-benefits .cta-wrap .link-01 {
        font-size: 12px;
        width: 200px;
        min-height: 35px;
        padding: 6px 20px 5px;
    }
    .con1 .sc-benefits .caption {
        margin-top: 25px;
        font-size: 9px;
    }
    /* sc-footer */
    .con1 .sc-footer {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .con1 .sc-footer h2 {
        font-size: 10px;
    }
    .con1 .sc-footer ul {
        margin-top: 5px;
    }
    .con1 .sc-footer li {
        font-size: 9px;
    }
}
